@import url("https://fonts.googleapis.com/css?family=Ubuntu:400,400i,500,500i,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Oswald:400,500&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

@keyframes liveAnimation {
  0% {
    transform: translate(0, 0) scale(0.8); }
  50% {
    transform: translate(1rem, 1rem) scale(1); }
  100% {
    transform: translate(0, 0) scale(0.8); } }

@keyframes moveWave {
  0% {
    transform: translateX(0) translateZ(0) scaleY(1); }
  50% {
    transform: translateX(-25%) translateZ(0) scaleY(0.55); }
  100% {
    transform: translateX(-50%) translateZ(0) scaleY(1); } }

body {
  font-family: "Ubuntu", sans-serif;
  color: #444444;
  font-size: 1.5rem;
  -webkit-user-select: none;
  /* Safari 3.1+ */
  -moz-user-select: none;
  /* Firefox 2+ */
  -ms-user-select: none;
  /* IE 10+ */
  user-select: none;
  /* Standard syntax */ }

.paragraph {
  margin-bottom: 1rem;
  line-height: 2rem; }

a:link {
  color: #00b4db; }

a:visited {
  color: #0083b0; }

.link:link, .link:visited, .link:active {
  text-decoration: none;
  color: inherit; }

.list {
  list-style-position: inside;
  list-style-type: none;
  font-family: "Roboto Mono", monospace; }
  .list__item {
    margin-bottom: 1rem;
    line-height: 1.5;
    border-radius: 3px;
    transition: all 0.1s; }
    .list__item:hover {
      color: #000;
      background-color: white;
      transform: scale(1.05); }
    .list__item--info, .list__item--description {
      font-size: 1.2rem;
      font-family: "Ubuntu", sans-serif;
      color: #505050; }
    .list__item--info::before {
      content: "- "; }
    .list__item--description {
      display: block;
      text-indent: 1rem; }
      .list__item--description::before {
        content: "* "; }
    .list__item > .im {
      font-size: 1.6rem; }

.im {
  padding-right: 0.6rem; }

.iconify {
  width: 4rem;
  height: 4rem; }

.heading-primary {
  font-weight: 500; }

.heading-secondary {
  font-family: "Oswald", sans-serif;
  font-weight: 500; }
  .heading-secondary,
  .heading-secondary > .im {
    line-height: 1.7;
    display: inline-block;
    text-transform: uppercase;
    background-image: linear-gradient(to right bottom, #0083b0, #00b4db, #0083b0);
    background-size: 400% 400%;
    animation: gradientAnimation 10s ease infinite;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    transition: all 0.2s ease; }
    .heading-secondary:hover,
    .heading-secondary > .im:hover {
      transform: skewX(10deg) skewY(2deg) scale(1.1); }

.heading-tertiary {
  line-height: 1.7; }

.list--exp__item {
  display: block; }

@media print {
  .heading-secondary,
  .heading-secondary > .im {
    background-image: none;
    color: #0083b0; }
  .container {
    margin: 0 4rem !important; } }

.mb-md {
  margin-bottom: 2rem; }

.mb-sm {
  margin-bottom: 1rem; }

.mt-sm {
  margin-top: 1rem; }

.pl-md {
  padding-left: 2rem; }

.table {
  text-align: left; }
  .table tr {
    height: 2.4rem; }
    .table tr:nth-child(odd) {
      background-color: #f3f3f3; }
    .table tr:hover {
      background-color: #d8d8d8; }
  .table td,
  .table th {
    padding: 0.5rem; }

.flex {
  display: flex;
  flex-wrap: wrap; }
  .flex--space-between {
    justify-content: space-between; }
  .flex--center {
    justify-content: center; }
  .flex--space-around {
    justify-content: space-around; }
  .flex--vertical-center {
    align-items: center; }

.item:not(:last-child) {
  margin-right: 1rem; }

.item--grow-1 {
  flex-grow: 1; }

@media only screen and (max-width: 768px) {
  .flex {
    justify-content: center; } }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 1rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 1rem; }

.col-1-of-2 {
  width: calc((100% - 1rem) / 2); }

.footer {
  padding: 2rem 0;
  text-align: center; }
  .footer__logo {
    height: 3rem;
    z-index: 100; }

.wave-wrapper {
  position: relative;
  height: 22rem;
  overflow: hidden;
  margin: auto; }
  .wave-wrapper::after {
    content: "";
    display: table;
    clear: both; }
  .wave-wrapper__inner {
    position: absolute;
    width: 100%;
    overflow: hidden;
    height: 100%;
    bottom: 0;
    background-image: linear-gradient(to top, #00b4db 20%, #0083b0 80%); }
    .wave-wrapper__inner--bg-top {
      z-index: 15;
      opacity: 0.5; }
    .wave-wrapper__inner--bg-middle {
      z-index: 10;
      opacity: 0.75; }
    .wave-wrapper__inner--bg-bottom {
      z-index: 5; }

.wave-wrapper--footer {
  height: 8rem;
  transform: rotateX(-180deg); }

.wave {
  position: absolute;
  left: 0;
  width: 200%;
  height: 100%;
  background-repeat: repeat no-repeat;
  background-position: 0 bottom;
  transform-origin: center bottom; }
  .wave--top {
    background-size: 50% 100px;
    background-image: url(../../img/wave/wave-top.png); }
  .wave--middle {
    background-size: 50% 120px;
    background-image: url(../../img/wave/wave-middle.png); }
  .wave--bottom {
    background-size: 50% 100px;
    background-image: url(../../img/wave/wave-bottom.png); }
  .wave__content {
    position: absolute;
    width: 100%;
    z-index: 20; }

.wave--animate .wave--top {
  animation: moveWave 3s;
  -webkit-animation: moveWave 3s;
  -webkit-animation-delay: 1s;
  animation-delay: 1s; }

.wave--animate .wave--middle {
  animation: moveWave 10s linear infinite; }

.wave--animate .wave--bottom {
  animation: moveWave 15s linear infinite; }

.container {
  max-width: 114rem;
  margin: 0 auto;
  padding: 0 2rem;
  border-radius: 0 0 3px 3px; }

.header {
  color: #fff; }

.section:not(:last-child) {
  margin-bottom: 2rem; }

.profile__info {
  display: table-cell;
  vertical-align: bottom; }

.profile__image-box {
  position: relative;
  border: 3px solid transparent;
  border-radius: 4px;
  padding: 2px;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
  background-color: rgba(255, 255, 255, 0.1); }
  .profile__image-box::before {
    content: "";
    position: absolute;
    background: inherit;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    filter: blur(10px); }

.profile__image {
  height: 15rem;
  vertical-align: middle; }

.icon-frameworks > * {
  animation: liveAnimation 10s infinite;
  padding: 0 1rem; }

.icon-frameworks > *:nth-child(odd) {
  animation-delay: 5s; }

.icon-flag {
  height: 3rem;
  width: 3rem; }
  .icon-flag--container {
    position: absolute;
    right: 0.5rem;
    top: 0.5rem;
    z-index: 1000; }

@media only screen and (max-width: 500px) {
  .wave-wrapper {
    height: 37rem; }
  [class^="col-"] {
    margin-right: 0;
    width: 100%; } }

@media print {
  body {
    font-size: 120%; }
  .container {
    margin-bottom: 100pt; }
  .icon-flag--container {
    display: none; } }

@page {
  margin: 1cm 0; }
