$color-primary: #00b4db;
$color-text: #222;

:root {
  --color-primary: #00b4db;
  --color-secondary: #ad611d;

  --radius: 4px;
  --shadow: 0 0 10px rgba(32, 22, 22, 0.5);

  --color-text: #222;
  --color-text-light: #586a7a;

  --color-bg: #fff;
}

.theme-dark {
  $color-primary: #ebd402;

  --color-primary: #ebd402;
  --color-secondary: #ad611d;

  --radius: 4px;
  --shadow: 0 0 10px rgba(32, 22, 22, 0.5);

  --color-text: #ddd;
  --color-text-light: #999;

  --color-bg: #0e2438;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%; // 1rem = 10px
}

body {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Source Sans Pro', Helvetica, sans-serif;
  font-size: 1.6rem;
  color: var(--color-text);
  background-color: var(--color-bg);
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: var(--color-primary);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.4);
  border-radius: var(--radius);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.7);
}

@mixin responsive($device) {
  /* Medium devices and up  */
  @if ($device == tablet) {
    @media only screen and (min-width: 600px) {
      @content;
    }
  }

  /* Large devices and up */
  @if ($device == desktop) {
    @media only screen and (min-width: 992px) {
      @content;
    }
  }

  /* Extra large devices and up */
  @if ($device == desktop-big) {
    @media only screen and (min-width: 1200px) {
      @content;
    }
  }
}
