.row {
  display: flex;
  flex-direction: column;
  align-items: center;

  @include responsive(tablet) {
    flex-direction: row;
  }
}

.col-4 {
  flex: 33.3333%;
}

.col-6 {
  flex: 50%;
}

.col-8 {
  flex: 66.6666%;
}

.f-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
