@mixin responsive($device) {
  /* Medium devices and up  */
  @if ($device == tablet) {
    @media only screen and (min-width: 600px) {
      @content;
    }
  }

  /* Large devices and up */
  @if ($device == desktop) {
    @media only screen and (min-width: 992px) {
      @content;
    }
  }

  /* Extra large devices and up */
  @if ($device == desktop-big) {
    @media only screen and (min-width: 1200px) {
      @content;
    }
  }
}

@mixin backgroundHoverEffect {
  background: linear-gradient(
    45deg,
    rgba($color-primary, 0.2) 0%,
    rgba(255, 255, 255, 0.1) 61%,
    rgba($color-primary, 0.2) 80%,
    rgba(255, 255, 255, 0.1) 64%
  );
  background-position: -200rem;
  background-size: 100% 10%;
  background-repeat: no-repeat;
  transition: background 0.4s ease-out;

  &::before,
  &::after {
    transition: all 0.5s;
  }

  &:hover {
    background-position: 0;
    background-size: 200% 100%;

    &::before {
      font-weight: 500;
      background-image: linear-gradient(to left, rgba($color-primary, 0.1), rgba(255, 255, 255, 0.1));
    }
  }
}
