//  COLORS
$color-primary: #00b4db;
$color-primary-light: #6dd5ed;
$color-primary-dark: #0083b0;
$color-grey-dark-1: #505050;
$color-grey-dark-2: #444444;
$color-grey-dark-3: #2c2c2c;
$color-grey-light-1: #f3f3f3;
$color-grey-light-2: #d8d8d8;
$color-white: #fff;
$color-black: #000;

// RADIUS
$default-radius: 3px;
$default-radius-lg: 8px;

//  FONT
$default-font-size: 1.6rem;

// MARGIN - PADDING
$default-space-sm: 1rem;
$default-space-md: 2rem;

// GRID
$grid-width-max: 114rem;
$gutter-vertical: 1rem;
$gutter-horizontal: 1rem;
