.flex {
  display: flex;
  flex-wrap: wrap;

  &--space-between {
    justify-content: space-between;
  }

  &--center {
    justify-content: center;
  }

  &--space-around {
    justify-content: space-around;
  }

  &--vertical-center {
    align-items: center;
  }
}

.item {
  &:not(:last-child) {
    margin-right: 1rem;
  }
  &--grow {
    &-1 {
      flex-grow: 1;
    }
  }
}

@media only screen and (max-width: 768px) {
  .flex {
    justify-content: center;
  }
}
