.wave-wrapper {
  position: relative;
  height: 22rem;
  overflow: hidden;
  margin: auto;
  @include clearfix;
  &__inner {
    position: absolute;
    width: 100%;
    overflow: hidden;
    height: 100%;
    bottom: 0;
    background-image: linear-gradient(to top, $color-primary 20%, $color-primary-dark 80%);

    &--bg-top {
      z-index: 15;
      opacity: 0.5;
    }
    &--bg-middle {
      z-index: 10;
      opacity: 0.75;
    }
    &--bg-bottom {
      z-index: 5;
    }
  }
}

.wave-wrapper--footer {
  height: 8rem;
  transform: rotateX(-180deg);
}

.wave {
  position: absolute;
  left: 0;
  width: 200%;
  height: 100%;
  background-repeat: repeat no-repeat;
  background-position: 0 bottom;
  transform-origin: center bottom;

  &--top {
    background-size: 50% 100px;
    background-image: url(../../img/wave/wave-top.png);
  }
  &--middle {
    background-size: 50% 120px;
    background-image: url(../../img/wave/wave-middle.png);
  }
  &--bottom {
    background-size: 50% 100px;
    background-image: url(../../img/wave/wave-bottom.png);
  }

  &__content {
    position: absolute;
    width: 100%;
    z-index: 20;
  }
}

.wave--animate {
  & .wave--top {
    animation: moveWave 3s;
    -webkit-animation: moveWave 3s;
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
  }
  & .wave--middle {
    animation: moveWave 10s linear infinite;
  }
  & .wave--bottom {
    animation: moveWave 15s linear infinite;
  }
}
