body {
  position: relative;
  color: var(--color-text);
}

a {
  color: var(--color-text);
  text-decoration: none;
  &[target="_blank"]::after {
    content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAQElEQVR42qXKwQkAIAxDUUdxtO6/RBQkQZvSi8I/pL4BoGw/XPkh4XigPmsUgh0626AjRsgxHTkUThsG2T/sIlzdTsp52kSS1wAAAABJRU5ErkJggg==);
    margin-left: 0.5rem;
  }
}

ul {
  list-style-type: none;
}

.row {
  display: flex;
  flex-direction: column;

  @include responsive(tablet) {
    flex-direction: row;
  }
}

.col-4 {
  flex: 33.3333%;
}

.col-6 {
  flex: 50%;
}

.col-8 {
  flex: 66.6666%;
}

.flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.items-center {
  align-items: center;
}

.mr {
  &-2 {
    margin-right: 1rem;
  }
}

.splitting {
  .whitespace {
    width: 0.2em;
  }
  .char {
    color: transparent;

    @media print {
      color: var(--color-text);
    }
    &::after {
      visibility: visible;
      color: var(--color-primary-dark);
      opacity: 0;
      transform: translateY(30%);
      transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
      transition-delay: calc(0.2s + (0.04s * var(--char-index)));
    }
  }
}

[data-scroll] {
  opacity: 0;
  will-change: transform, scale, opacity;
  transform: translateY(6rem) scale(0.93);
  transition: all 1.5s cubic-bezier(0.165, 0.84, 0.44, 1);

  @media print {
    opacity: 1;
    transform: none;
  }
}

[data-scroll="in"] {
  opacity: 1;
  transform: translateY(0) scale(1);

  .char::after {
    opacity: 1;
    transform: translateY(0);
  }
}
